{% extends "base.html" %}

{% load static %}

{% block content %}

    {% for post in posts %}
    
    <section class="page-section clearfix">
        <div class="container">
          <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{post.image.url}}" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
              <h2 class="section-heading mb-4" >
                <span class="section-heading-upper">{{post.title}}</span>
                <span class="section-heading-lower">{{post.content}}</span>
              </h2>
              <div style="text-align: left; font-size: 0.8em;">
                Author: {{post.author}}
              </div>
            </div>
          </div>
        </div>
      </section>

    {% endfor %}

    <section>
      <div style="text-align: center; color: white;">

        Categories: 

        {% for post in posts %}

          {% for category in post.categories.all %}

          <a style="color: inherit;" href="{% url 'category' category.id %}" class="categories">{{category.name}} </a>&nbsp; 

          {% endfor %}

        {% endfor %}
      </div>
    </section>

{% endblock %}
